

{
    "configures":[
        {
            "name": "name for eye-look",
            "description": "more description come here.",
            "model": "android model",

            "reEnableBluetooth": 1,
            "reEnableBluetoothDesc": "",

            "stopScanBeforeStartScan": 1,
            "stopScanBeforeStartScan": "",

            "refreshBeforeDiscoverService": false,
            "refreshBeforeDiscoverServiceDesc": "",
        },

        {
            "model": "vivo X9",
            "reEnableBluetooth": 1,
            "stopScanBeforeStartScan": 1,
            "label": ""
        },

        {
            "name": "360f4",
            "model": "1501_M02",
            "reEnableBluetooth": false,
            "stopScanBeforeStartScan": true,
            "refreshBeforeDiscoverService": true
        },

        {
            "name": "samsung GT-I9508V",
            "model": "GT-I9508V",
            "reEnableBluetooth": false,
            "stopScanBeforeStartScan": false,
            "refreshBeforeDiscoverService": false
        },

    ]
}